
ondrej_examples
.Rhistory

# Ignore MacOS junk files

*.DS_*

# Exclude temporary files
*._*

# Exclude R junk
.R*
libs
*_cache
*_files
public
*.html

.Rproj.user
.RData
.Ruserdata
public
/.quarto/
/_site/
**/*.quarto_ipynb
